* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  height: 1132px;
  margin: 0 auto;
}

.container > div {
  margin: 30px;
  width: 1376px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 20px;
}

.input p {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  font-weight: 400;
  font-size: 16px;
  color: rgba(15, 23, 42, 1);
  padding-bottom: 15px;
}

.input span {
  color: rgba(71, 85, 105, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.chek-list {
  height: 206px;
}

.Menu-List {
  height: 457px;
}

.Stepper {
  height: 355px;
}

h2 {
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 20px;
  color: rgba(37, 99, 235, 1);
}


input{
 width: 21px;
  height: 21px;
  border-radius: 5px;
}

.green {
  border: 2px solid rgba(34, 197, 94, 1);
  appearance: none;
  -webkit-appearance: none;
}

.div-color,
.Stepper-text {
  display: inline-block;
  vertical-align: top; 
}

.div-color{
    width: 28px;
height: 28px;
border-radius: 8px;
background-color: rgba(34, 197, 94, 1);
font-size: 16px;
line-height: 100%;
}

.Stepper-text h3{
font-weight: 700;
font-style: Bold;
}

.Stepper-text p{
font-weight: 400;
}

.card-content{
    padding-top: 15px;
    padding-left: 5px;
    margin-bottom: 5px;
    width: 1334px;
height: 60px;
border-left:  7px solid rgba(226, 232, 240, 1);
}

.green-div{
    background-color: rgba(34, 197, 94, 1);
}

.orange{
    background-color: rgba(245, 158, 11, 1);
}

.blue{
    background-color: rgba(37, 99, 235, 1);
}

.red{
    background-color: rgba(239, 68, 68, 1);
}

.Card-menu{
    width: 1334px;
height: 374px;
border-radius: 12px;
border: 1px solid rgba(226, 232, 240, 1);
}

.div-list{
  width: 100%;
height: 38px;
background-color: rgba(248, 250, 252, 1);
border-bottom: 2px solid rgba(229, 231, 235, 1);
}

.div-list h2{
font-weight: 700;
font-style: Bold;
padding-left: 15px;
padding-top: 10px;
font-size: 16px;
color: rgba(71, 85, 105, 1);
}

.line{
 border-bottom: 2px solid rgba(229, 231, 235, 1);
}

.div-list-1{
    width: 100%;
 padding-left: 15px;
 padding-top: 10px;
 height: 58px;
}

.div-list-1 p{
   margin-top: 3px;
font-weight: 400;
font-size: 14px;
color: rgba(100, 116, 139, 1);
}

.div-list-1 span{
color: rgba(15, 23, 42, 1);
font-weight: 400;
font-size: 15px
}