@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter.woff2') format('woff2'),
       url('fonts/Inter.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.container{
    margin-left: 15px;
  padding: 12px;
}

h1{
  margin-bottom: 10px;
width: 306px;
height: 38px;
font-weight: 700;
font-style: Bold;
font-size: 31px;
line-height: 100%;
vertical-align: middle;
}

.buto1{
border: none;
width: 108px;
height: 44px;
border-radius: 8px;
background-color: rgba(0, 123, 255, 1);
}

.buto2{
 border: none;
width: 130px;
height: 44px;
border-radius: 8px;
background-color: rgba(108, 117, 125, 1);
}

.buto3{
border: none;
width: 104px;
height: 44px;
border-radius: 8px;
background-color: rgba(220, 53, 69, 1);

}

.buto4{
  border: none;
width: 107px;
height: 48px;
border-radius: 8px;
border: 2px solid rgba(0, 123, 255, 1);
color: rgba(0, 123, 255, 1);
}

.buto-colar{
  color: white;
}

.buto5{
    border: none;
    width: 115px;
height: 44px;
border-radius: 8px;
margin-top: 10px;
background-color: rgba(0, 86, 210, 1);
}

.buto1, .buto2, .buto3, .buto4{
  cursor: pointer;
}

.buto1:hover{
   background-color: #3388ff;
}

.buto2:hover{
   background-color: #3388ff;
}

.buto3:hover{
   background-color: rgba(0, 102, 255, 0.15);
    border-color: #3388ff;
    color: #3388ff;
}

.buto4:hover{
   background-color: #0066ff;
    box-shadow: 0 0 12px rgba(0, 102, 255, 0.6);
}

