* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

body {
  width: 1440px;
  height: 900px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
}

main.container {
  width: 1440px;
  height: 890px;
  padding-right: 8px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  padding-top: 17px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 40px;
  color: rgba(17, 24, 39, 1);
}

h2 {
  width: 494px;
  height: 28px;
  margin-top: 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: rgba(17, 24, 39, 1);
}

/* Карточка */
.toast-box {
  text-align: start;
  display: inline-block;
  width: 560px;
  height: 380px;
  padding: 21px 0 0 30px;
  border-radius: 12px;
  background-color: rgba(243, 244, 246, 1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  margin: 15px;
}

/* Общий вид уведомления */
.toast {
  width: 494px;
  border-radius: 8px;
  padding: 16px;
  font-weight: 500;
  font-size: 14px;
  margin-top: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.toast span {
  display: block;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.toast p {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

/* Типы уведомлений */
.toast--soft {
  border: 1px solid;
}

.toast--border {
  border-left: 5px solid;
}

.toast--solid {
  color: #fff;
}

/* Цветовые схемы */
.toast--success.toast--soft {
  background-color: rgba(187, 247, 208, 1);
  border-color: rgba(34, 197, 94, 1);
  color: rgba(21, 128, 61, 1);
}

.toast--success.toast--border {
  border-color: rgba(34, 197, 94, 1);
}

.toast--success.toast--solid {
  background-color: rgba(34, 197, 94, 1);
}

.toast--error.toast--soft {
  background-color: rgba(254, 202, 202, 1);
  border-color: rgba(239, 68, 68, 1);
  color: rgba(185, 28, 28, 1);
}

.toast--error.toast--border {
  border-color: rgba(239, 68, 68, 1);
}

.toast--error.toast--solid {
  background-color: rgba(239, 68, 68, 1);
}

.toast--warning.toast--soft {
  background-color: rgba(254, 240, 138, 1);
  border-color: rgba(234, 179, 8, 1);
  color: rgba(161, 98, 7, 1);
}

.toast--warning.toast--border {
  border-color: rgba(234, 179, 8, 1);
}

.toast--warning.toast--solid {
  background-color: rgba(234, 179, 8, 1);
}

.toast--info.toast--soft {
  background-color: rgba(191, 219, 254, 1);
  border-color: rgba(59, 130, 246, 1);
  color: rgba(30, 64, 175, 1);
}

.toast--info.toast--border {
  border-color: rgba(59, 130, 246, 1);
}

.toast--info.toast--solid {
  background-color: rgba(59, 130, 246, 1);
}



