*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
width: 1440px;
height: 900px;
margin: 0 auto;
}


h1{
    padding-top: 17px;
    margin-bottom: 10px;
}


.container{
width: 1440px;
height: 890px;
padding-right: 8px;
margin: 0 auto;
text-align: center;

}


.box {
    text-align: start;
      display: inline-block;
 width: 560px;
height: 380px;

 padding-left: 30px;
padding-top: 21px;
border-radius: 12px;
background-color: rgba(243, 244, 246, 1);
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
margin: 15px;
}


.and-green{
width: 494px;
height: 76px;
border-radius: 8px;
padding: 16px;
font-weight: 500;
font-style: Medium;
font-size: 13.13px;
}

p, span{
   margin-top: 5px;
}

.box > div  {
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
} 

h1{
font-weight: 700;
font-style: Bold;
font-size: 40px;
color: rgba(17, 24, 39, 1);
}


h2{
 width: 494px;
height: 28px;
font-weight: 700;
font-style: Bold;
margin-top: 15px;
font-size: 20px;
line-height: 28px;
color: rgba(17, 24, 39, 1);
}

.green{
 width: 494px;
height: 78px;
border-radius: 8px;
}

.green span{
font-weight: 500;
font-style: Medium;
font-size: 15px;
line-height: 20px;
width: 460px;
height: 20px;
padding-bottom: 10px;
}

.green p{
    width: 460px;
height: 20px;
font-weight: 400;
font-size: 15px;
line-height: 20px;
}



.green-border{
    width: 494px;
height: 76px;
border-radius: 8px;
font-family: Inter;
font-weight: 500;
font-size: 13px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
}

.green-border p {
    color: rgba(75, 85, 99, 1);
font-weight: 400;
font-size: 12px
}

.green-border span {
font-weight: 500;
font-style: Medium;
font-size: 14px;
color: rgba(17, 24, 39, 1);
}



.end-green-color{
     background-color: rgba(34, 197, 94, 1); 
      color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
}

.border-green-color{
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
border-left: 5px solid rgba(34, 197, 94, 1);
color: rgba(17, 24, 39, 1) ;
}

.green-color{
    background-color: rgba(187, 247, 208, 1);
border: 1px solid rgba(34, 197, 94, 1);
color: rgba(21, 128, 61, 1);
}




.end-red-color{
     background-color: rgba(239, 68, 68, 1); 
      color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
}

.border-red-color{
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
border-left: 5px solid rgba(239, 68, 68, 1);
}

.red-color{
    background-color:rgba(254, 202, 202, 1);
    color: rgba(185, 28, 28, 1);
border: 1px solid rgba(239, 68, 68, 1);
}



.end-yellow-color{
     background-color: rgba(234, 179, 8, 1); 
      color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
}

.border-yellow-color{
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
border-left: 5px solid rgba(234, 179, 8, 1);
}

.yellow-color{
    background-color:rgba(254, 240, 138, 1);
    color: rgba(161, 98, 7, 1);
border: 1px solid rgba(234, 179, 8, 1);
}




.end-blue-color{
     background-color: rgba(59, 130, 246, 1); 
      color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
}

.border-blue-color{
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
border-left: 5px solid rgba(59, 130, 246, 1);
}

.blue-color{
    background-color:rgba(191, 219, 254, 1);
    color: rgba(30, 64, 175, 1);
border: 1px solid rgba(59, 130, 246, 1);
}


