@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fbfd;
  color: #111827;
  width: 1440px;
  height: 900px;
  margin: 0 auto;
}

.container {
  width: 1175px;
  height: 850px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 52px;
  font-weight: 700;
  font-size: 36px;
}

h3 {
  padding-left: 14px;
  margin-top: 13px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

section {
  margin-bottom: 20px;
}

.progress-group {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

.bar {
  flex: 1;
  background-color: #e5e7eb;
  border-radius: 22px;
  margin: 0 8px;
  position: relative;
}

.fill {
  display: block;
  height: 100%;
  border-radius: 20px;
}


.bar.xs { height: 2px; }
.bar.sm { height: 4px; }
.bar.md { height: 10px; }
.bar.lg { height: 12px; }
.bar.xl { height: 16px; }
.bar.jumbo { height: 25px; }
.bar.mega { height: 34px; }


.fill.red    { background-color: #ef4444; width: 16%; }
.fill.orange { background-color: #f97316; width: 36%; }
.fill.yellow { background-color: #fbbf24; width: 60%; }
.fill.green  { background-color: #22c55e; width: 100%; }

.fill.blue   { background-color: #3b82f6; width: 20%; }
.fill.purple { background-color: #a855f7; width: 40%; }
.fill.pink   { background-color: #ec4899; width: 62%; }
.fill.lilac  { background-color: #6366f1; width: 100%; }

.fill.color-9  { background-color: #10b981; width: 10%; }
.fill.color-10 { background-color: #14b8a6; width: 35%; }
.fill.color-11 { background-color: #06b6d4; width: 70%; }
.fill.color-12 { background-color: #0ea5e9; width: 100%; }

.fill.color-13 { background-color: #f43f5e; width: 30%; }
.fill.color-14 { background-color: #f59e0b; width: 50%; }
.fill.color-15 { background-color: #84cc16; width: 75%; }
.fill.color-16 { background-color: #8b5cf6; width: 100%; }

.fill.color-17 { background-color: #dc2626; width: 5%; }
.fill.color-18 { background-color: #ea580c; width: 30%; }
.fill.color-19 { background-color: #16a34a; width: 85%; }
.fill.color-20 { background-color: #2563eb; width: 100%; }

.fill.color-21 { background: linear-gradient(90deg, #A855F7 0%, #EC4899 100%); width: 60%; }
.fill.color-22 { background: linear-gradient(90deg, #3B82F6 0%, #06B6D4 100%); width: 100%; }
.fill.color-23 { background: linear-gradient(90deg, #4ADE80 0%, #3B82F6 50%, #9333EA 100%); width: 75%; }
