
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 1248px;
    height: 1644px;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 93px);
  grid-template-rows: repeat(18, 1fr);
  gap: 12px 12px;
  margin: 16px 25px;
}

.container > :first-child {
   background: linear-gradient(152.959deg, #1E3A8A 0%, #60A5FA 100%);
    grid-column: span 3;
    grid-row: span 2;
}

.container > :nth-child(2) {
background: linear-gradient(141.027deg, #064E3B 0%, #34D399 100%);
  grid-column: span 2;
  grid-row: span 3;
}

.container > :nth-child(3) {
    background: linear-gradient(157.345deg, #78350F 0%, #FBBF24 100%);
    grid-column: span 4;
    grid-row: span 2;
}

.container > :nth-child(4){
    background: linear-gradient(146.65deg, #831843 0%, #F472B6 100%);
    grid-column: span 3;
    grid-row: span 3;
}

.container > :nth-child(5) {
    background: linear-gradient(154.39deg, #312E81 0%, #A78BFA 100%);
    grid-column: span 5;
    grid-row: span 3;
}

.container > :nth-child(6) {
    background: linear-gradient(146.7deg, #164E63 0%, #22D3EE 100%);
   grid-column: 6/span 2;
   grid-row: 3/span 2;
}

.container > :nth-child(7) {
    background: linear-gradient(152.959deg, #7F1D1D 0%, #F87171 100%);
    grid-column: 8/span 3;
    grid-row: 4/span 2;
}

.container > :nth-child(8) {
    background: linear-gradient(146.7deg, #111827 0%, #CBD5E1 100%);
    grid-column: 11/span 2;
    grid-row: 4/span 2;
}

.container > :nth-child(9) {
    grid-column: 6/span 4;
    grid-row: 6/span 2;
    background: linear-gradient(157.345deg, #064E3B 0%, #34D399 100%);
}

.container > :nth-child(10) {
    background: linear-gradient(137.69deg, #78350F 0%, #FBBF24 100%);
    grid-column: 10/ span 2;
    grid-row: 6/ span 4;
}

.container > :nth-child(11) {
    background: linear-gradient(152.959deg, #831843 0%, #F472B6 100%);
    grid-column: span 3;
    grid-row: span 2;
}

.container > :nth-child(12) {
    background: linear-gradient(146.65deg, #1E3A8A 0%, #60A5FA 100%);
    grid-column: 4/ span 3;
    grid-row: 8/ span 3;
}

.container > :nth-child(13) {
    background: linear-gradient(146.7deg, #7F1D1D 0%, #F87171 100%);
    grid-column: 7/ span 2;
    grid-row: 8/ span 2;
}

.container > :nth-child(14) {
    background: linear-gradient(152.959deg, #164E63 0%, #22D3EE 100%);
    grid-column: span 3;
    grid-row: span 2;
}

.container > :nth-child(15) {
    background: linear-gradient(162.993deg, #312E81 0%, #A78BFA 100%);
    grid-column: 7/ span 6;
    grid-row: 10/ span 2;
}

.container > :nth-child(16) {
    background: linear-gradient(150.984deg, #064E3B 0%, #34D399 100%);
    grid-column: span 4;
    grid-row: span 3;
}

.container > :nth-child(17) {
   background: linear-gradient(152.959deg, #831843 0%, #F472B6 100%);
    grid-column: 5/ span 3;
    grid-row: 12/ span 2;
}

.container > :nth-child(18) {
    background: linear-gradient(146.7deg, #1E3A8A 0%, #60A5FA 100%);
    grid-column: 8/ span 2;
    grid-row: 12/ span 2;
}

.container > :nth-child(19) {
    background: linear-gradient(141.027deg, #78350F 0%, #FBBF24 100%);
    grid-column: 10/ span 2;
    grid-row: 12/ span 3;
}

.container > :nth-child(20) {
    grid-column: span 4;
    grid-row: span 2;
    background: linear-gradient(157.345deg, #111827 0%, #CBD5E1 100%);
}

.container > :nth-child(21) {
    background: linear-gradient(160.555deg, #312E81 0%, #A78BFA 100%);
    grid-column: 5/ span 5;
    grid-row: 14/ span 2;
}

.container > :nth-child(22) {
    background: linear-gradient(146.65deg, #7F1D1D 0%, #F87171 100%);
    grid-column: 10/ span 3;
    grid-row: 15/ span 3;
}

.container > :nth-child(23) {
    background: linear-gradient(146.7deg, #164E63 0%, #22D3EE 100%);
    grid-column: span 2;
    grid-row: span 2;
}

.container > :nth-child(24) {
    background: linear-gradient(175.237deg, #064E3B 0%, #34D399 100%);
    grid-column: span 12;
    grid-row: span 1;
}