@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #0d1117;
  font-family: "Inter";
}

.container {
  width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #0d1117;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 24px;
  align-items: center;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid rgba(48, 54, 61, 1);
}

.btn-text {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 10px 8px;
  width: 201px;
  height: 38px;
  border: 1px solid rgba(48, 54, 61, 1);
  border-radius: 8px;
  opacity: 1px;
  color: rgba(132, 141, 151, 1);
  background-color: rgba(22, 27, 34, 1);
}

.btn {
  border: none;
  color: rgba(132, 141, 151, 1);
  background-color: transparent;
  width: 47px;
  height: 28px;
  border-radius: 6px;
  opacity: 1px;
}

.button {
  border: none;
  border: 1px solid rgba(48, 54, 61, 1);
  width: 69px;
  height: 38px;
  border-radius: 8px;
  opacity: 1;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: rgba(230, 237, 243, 1);
  margin-right: 15px;
}

.blue {
  border: none;
  width: 105px;
  height: 36px;
  border-radius: 8px;
  opacity: 1;
  background-color: rgba(88, 166, 255, 1);
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
}

.btn-content1 {
  padding-right: 25px;
}

.btn-content2 {
  margin-right: 30px;
}

.active {
  border: none;
  background-color: rgba(48, 54, 61, 0.6);
  color: rgba(255, 255, 255, 1);
  width: 65px;
  height: 28px;
  border-radius: 6px;
  opacity: 1;
}

.active1 {
  border: none;
  width: 64px;
  height: 28px;
  border-radius: 6px;
  color: rgba(88, 166, 255, 1);
  background-color: rgba(88, 166, 255, 0.2);
}

.btn-text span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: rgba(132, 141, 151, 1);
}

.logo {
  width: 130px;
  height: 28px;
  opacity: 1px;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 1);
}

.main-div {
  height: 892px;
  display: flex;
  gap: 50px;
}
.aside {
  width: 212px;
  height: 892px;
}

.sidebar {
  width: 212px;
  height: 298px;
  border-radius: 12px;
  background-color: #161b22;
  margin-top: 30px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #30363d;
}

.h2-main {
  font-size: 14px;
  font-weight: 600;
  font-family: "Inter";
  color: #848d97;
  margin-left: -82px;
  margin-bottom: 10px;
}

.nav-content {
  width: 178px;
  height: 236px;
  margin-right: 18px;
}

.sidebar-nav ul {
  display: flex;
  flex-direction: column;
  width: 178px;
  height: 236px;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
}

.sidebar-nav ul li {
  width: 100%;
  height: 36px;
  margin-top: 5px;
}

.main-li {
  background: rgba(56, 139, 253, 10%);
  border-radius: 8px;
}

.main-span {
  font-size: 14px;
  font-weight: 500;
  font-size: 14px;
  color: #e6edf3;
  width: 178px;
  height: 36px;
  margin-left: 26px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.spans {
  font-size: 14px;
  font-weight: 500;
  font-size: 14px;
  color: #848d97;
  width: 178px;
  height: 36px;
  margin-left: 24px;
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 6px;
}

.main-card-div {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.main-section {
  margin-top: 33px;

  display: flex;
  flex-direction: column;
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.input-container {
  width: 802px;
  height: 56px;
  display: flex;
  flex-direction: row;

  margin-top: 16px;
  align-items: center;
}

.input-element {
  display: flex;
  flex-direction: row;
}

.input-arrow {
  display: flex;
}

.Card-Div {
  margin-top: 26px;
  width: 802px;
  height: 580px;
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  padding: 14px;
  width: 389px;
  height: 278px;
  border-radius: 12px;
  background-color: rgba(22, 27, 34, 1);
  border: 1px solid #30363d;
}

.div-color {
  width: 347px;
  height: 112px;
  border-radius: 8px;
  opacity: 1;
  top: 21px;
  left: 21px;
  background-color: rgba(13, 17, 23, 1);
}

.card-team {
  height: 710px;
  width: 330px;
  margin-top: 46px;
}

.time-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 50px;
}

.card-Quick {
  width: 330px;
  height: 146px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  padding-top: 10px;
  padding-left: 16px;
  border-radius: 12px;
  background-color: rgba(22, 27, 34, 1);
  border: 1px solid #30363d;
}

.first-btn-card {
  width: 59px;
  height: 34px;
  border-radius: 8px;
  background-color: rgba(48, 54, 61, 0.4);
}

.h2-quick {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
}

.btn-time {
  margin: 5px;
  padding-top: 6px;
  background-color: transparent;
  border: 1px solid rgba(48, 54, 61, 1);
  border-radius: 8px;
  color: rgba(230, 237, 243, 1);
}

.Team {
  display: flex;
  flex-direction: column;
  background-color: rgba(22, 27, 34, 1);
  border: 1px solid rgba(48, 54, 61, 1);
  width: 330px;
  height: 170px;
  border-radius: 12px;
  margin-top: 25px;
  gap: 8px;
  padding: 10px;
}

.pinck-div,
.green-div {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  padding-top: 7px;
}

.pinck {
  width: 36px;
  height: 36px;
  background-color: rgba(247, 129, 102, 1);
}

.green {
  background-color: rgba(63, 185, 80, 1);
  width: 36px;
  height: 36px;
}

.green-content {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.text-team-card h2 {
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}

.text-team-card span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(132, 141, 151, 1);
}

.team-h2 {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-left: 10px;
  padding-top: 10px;
}

.Team button{
    width: 56px;
height: 34px;
border-radius: 8px;
  background-color: transparent;
  border: 1px solid rgba(48, 54, 61, 1);
font-weight: 400;
font-size: 14px;
line-height: 100%;
color: rgba(230, 237, 243, 1);
 padding-left: 10px;
}